@{
    ViewData["Title"] = "Home Page";
}
<section>
    <h1>To do list</h1>
    <button>Add</button>
    <hr />
    <div class="d-flex justify-content-between gap-3">
        <div>
            <h3 class="bg-danger w-25">danh sach trang thai</h3>
        </div>
        <div>
            <h3 class="bg-warning w-75">danh sach nhiem vu</h3>
        </div>
    </div>
</section>